<!--HAS_WEBDNA_TAGS-->
<html>

	<head><noedit>
		<title>[lookup db=ForteClips.db&value=[SWA]&lookinfield=SWA&returnfield=COMPOSERSHORT]: [lookup db=ForteClips.db&value=[SWA]&lookinfield=SWA&returnfield=TITLE]</title>
		<x-sas-window top="42" bottom="142" left="4" right="324">
		<style media="screen" type="text/css"><!--
Body  { font-size: 12px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
--></style></noedit>
	</head>

	<body bgcolor="#201618" text="#FFFFFF" link="#ffd700">
		<center>

			<img src="resources/[lookup db=ForteClips.db&value=[SWA]&lookinfield=SWA&returnfield=IMAGE]" width="144" height="144" align="middle" border="1">
		</center>
		<center>
			<p><font color="white">&#147;[lookup db=ForteClips.db&value=[SWA]&lookinfield=SWA&returnfield=TITLE],&#148; by [lookup db=ForteClips.db&value=[SWA]&lookinfield=SWA&returnfield=COMPOSERFULL]</font></p>
			
				
			<p><font color="white">Click the <b><i>Play</i></b> button to begin.</font></p>
			<p><embed width="416" height="32" src="player1.dcr" swurl="audio/[SWA].swa" swtext="[lookup db=ForteClips.db&value=[SWA]&lookinfield=SWA&returnfield=TITLE]" swpreloadtime="8" sw1="off" sw2="0" sw3="0" sw4="0"><BR>
			<!-- sw1=debugger, sw2=Autoplay, sw3=LogoMode, sw4=Autoloop -->
			<font color="white"><b>Shockwave Audio</b></font></p>
			<p><embed src="audio/[swa].mov" width="250" height="20" bgcolor="#201618" type="audio/x-mpeg" controller="true" autoplay="false" autostart="true"><br>
				<font color="white"><b>QuickTime</b></font></p>
		</center>
	</body>

</html>