<!--HAS_WEBDNA_TAGS--><HTML><BODY><h3>MadeleineForte.com Counter Report</h3>[search db=MasterCounter/counters.db&neURLdata=0&NumHitstype=num&NumHitssort=1&NumHitssdir=de]<table border><tr><th>URL</th><th># Hits</th><th>Last Access</th></tr>[foundItems]<tr><td><a href="[URL]">[URL]</a></td><td>[NumHits]</td><td>[LastAccessDate]</td></tr>[/foundItems]</table>[/search]</BODY></HTML>